       <footer class="footer">
        <div class="container">
            <p>&copy; 2025 LeetMetric. All rights reserved.</p>
        </div>
    </footer>
    
    <% if (activePage === 'analysis') { %>
        <script src="/js/script.js"></script>
    <% } %>
    
    <% if (activePage === 'leaderboard') { %>
        <script src="/js/leaderboard.js"></script>
    <% } %>
</body>
</html>